/*************** MOBILE ***************/

/* Adds padding to navigation bar */
.fixed-top {
    padding: 20px;
    border: 2px solid gray;
}

/* Changes navigation link font sizes and adds underlines */
.nav-item a {
    font-size: 1.4rem;
    text-decoration: underline;
    font-family: "chauncy-pro", sans-serif;
}

/* Crops landing portrait image to a circle and sizes it to be smaller */
.portfolio-image img {
  border-radius: 50%;
  width: 60%;
  border: 2px solid white;
  /* Adds margin to top and bottom of the image */
  margin-top: 110px;
  margin-bottom: 30px;
}

.landing {
    background-color:#89A1AD;
    padding: 30px;
}

/* Sets font of all h1 to Chauncy pro*/
h1 {
    font-family: "chauncy-pro", sans-serif ;
}

/* Sets font of all p text */
p {
   font-family:'Times New Roman', Times, serif;
}

/* Sizes h1 of landing-text container, adds an underline and changes the color */
.landing-text h1 {
    font-size: 4rem;
    color: white;
    text-decoration: underline;
}

/* Sizes p of landing-text container and changes color */
.landing-text p {
    font-size: 1.2rem;
    color: white;
    padding-bottom: 10px;
}

/* Sizes .about-h1 h1, adds border radius and border */
.about-h1 {
    margin: 20px;
    padding: 30px;
    border: 2px solid gray;
    border-radius: 50px;
}

.about-h1 h1 {
    font-size: 3rem;
}

/* Adds background color to .about-text and changes font size */
.about-text {
    background-color: #89A1AD;
    font-size: 1.2rem;
    padding: 30px;
    margin: 20px;
}

/* Resizes goal-img to be smaller and adds a border radius */
.goal-img img {
    width: 100%;
    border-radius: 50px;
    margin-top: 20px;
}

.goal-img {
    border-right: 2px solid gray;
}

/* Adds border to .goals around the container and inbetween, as well as margin to the bottom */
.goals {
    border: 2px solid gray;
    column-rule: 2px solid gray;
}

/* Sets all h2 to Chauncy Pro font */
h2 {
    font-family: "chauncy-pro", sans-serif ;
}

/* Targets .goals-list unordered list items and changes font, size, padding and list styles */
.goals-list ul li {
    font-family:'Times New Roman', Times, serif;
}

/* Targets goal-img and adds padding around container with the image */
.goal-img {
    padding: 20px 20px;
}

/* Targets goal-list h2, sizes it to be bigger and adds padding */
.goal-list h2 {
    font-size: 4rem;
    padding-top: 30px;
    padding-bottom: 15px;
}

/* Targets goal-list unordered list, adjusts padding and list style types */ 
.goal-list ul li{
    padding: 10px;
    list-style-type: circle;
}

/* Targets works container and adds background color and adds padding */
.works {
    background-color: #89A1AD;
    padding: 20px;
}

/* Targets .works h1 and adds a border, border radius and padding */
.works h1 {
    border: 2px solid gray;
    border-radius: 60px;
    padding: 30px;
    font-size: 4rem;
}

.ve-header {
    padding-top: 20px;
}

/* Targets carousel buttons and adds a background color */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #89A1AD;
}

/* Targets thumbnail of videos in carousel and changes the opacity */
.carousel-inner  {
   opacity: 70%;
}

/* When hovering over carousel-inner container it resets back to normal opacity */
.carousel-inner:hover {
    opacity: 100%;
}

/* Targets video-carousel and adds padding to the bottom */

.video-carousel {
    padding-bottom: 20px;
}

/* Targets h2 in know-more container and changes font size and color */
.know-more h2 {
    font-size: 2rem;
    color: #89A1AD;
    padding: 20px;
}

/* Targets know-more button and changes font family, size, background color and adds a border radius */
.know-more button {
    font-family: "chauncy-pro", sans-serif ;
    font-size: 1.5rem;
    background-color: #89A1AD;
    border-radius: 20px;
}

/* Targets know-more-text and adds a background color, changes font color and adds a border */
.know-more-text {
    background-color: #89A1AD;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid gray;
    font-size: 1.2rem;
    color: white;
}

/* targets id of knowmore and sets display to none */
#knowmore {
    display: none;
}

/* Targets dg-heading and photography-heading h2 and changes font size and font color */
.dg-heading .photography-heading, h2 {
    font-size: 2.5rem;
}

/* Targets dg-heading and photography-heading p and changes font size */
.dg-heading .photography-heading, p {
    font-size: 1.2rem;
}

/* Targets dg-heading and photograpy-heading and adds a border, border radius, margin and padding */
.dg-heading, .photography-heading {
    border: 2px solid gray;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 60px;
}

/* Targets images in dg-gallery container and crops the images into squares using height and width */
.dg-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Targets dg-gallery and adds padding to the top and a border to the bottom */
.dg-gallery {
    padding-top: 20px;
    border-bottom: 2px solid gray;
}

/* Targets photography container and adds padding the the bottom and a border */
.photography {
    padding-bottom: 30px;
    border-bottom: 2px solid gray;
}

/* Targets images of services-content container and adjusts image shape with width, height and border radius. Fits the image to the shape using object-fit. As well as adds a margin to the bottom */
.services-content img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 30px;
    border-radius: 20px;
   
}

/* Targets services container and adds a background coor */
.services {
    background-color: #89A1AD;
}

/* Targets service container's h1, increases font size, changes font color, adds an underline and adds padding */
.services h1 {
    font-size: 4rem;
    color: white;
    text-decoration: underline;
    padding: 30px;
}

/* Overlays services-content's h3 over images using position, top, left and transform */
.services-options {
    position: absolute;
   font-size: 2.5rem;
   color: white;
   font-family: "chauncy-pro", sans-serif ;
   left: 30%;
   padding-top: 70px;
 
}

/* Targets form-heading container, adds a border, padding and changes the font color */
.form-heading {
    border: 2px solid gray;
    padding: 30px;
    color: gray;
}

/* Targets form-heading's h1 and increases the font size */
.form-heading h1 {
    font-size: 3rem;
}

/* Targets contact-form container, sets the background color, changes font color, adds padding and changes font family and font size */
.contact-form {
    background-color: #89A1AD;
    padding: 30px;
    color: white;
    font-family: "chauncy-pro", sans-serif ;
    font-size: 1.2rem;
}

/* Targets form-group container and adds padding to the bottom */
.form-group {
    padding-bottom: 20px;
}

/* Targets contact-button container's button and customizes it by changes the font color, adds padding to the left and right, as well as adding a border radius and setting the outline to none */
.contact-button button {
    color: gray;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    border: none;
}

/* Targets iframe in map container and sizes map to fit the page using width */
.map iframe {
    width: 100%;
}

/* Targets paragraph in footer, changes font color and increases font size */
footer p {
    color: gray;
    font-size: 1rem;
}

/* Targets footer and adds padding to the top */
footer {
    padding-top: 10px;
}

/* Targets quote container, adds a border to the top, left and right and adds padding */
.quote {
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    padding: 30px;
}

/* Targets quote container's h1 and changes the font color and increases font size */
.quote h1 {
    font-size: 3rem;
    color: gray;
}

/* Targets quote container's p and changes the font color */
.quote p {
    color: gray;
}

/* Targets quote-group container and adds padding to the bottom */
.quote-group {
    padding-bottom: 20px;
 
}

/* Targets quote-button container's button and customizes it by changing the font color, adds padding to the left and right as well as adding a border radius and solid 1px gray border */
.quote-button button {
    color: gray;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    border: 1px solid gray;
}

