/*************** MOBILE ***************/

/* Adds padding to navigation bar */
.fixed-top {
    padding: 20px;
    border: 2px solid gray;
}

/* Changes navigation link font sizes and adds underlines */
.nav-item a {
    font-size: 1.4rem;
    text-decoration: underline;
    font-family: "chauncy-pro", sans-serif;
}

/* Crops landing portrait image to a circle and sizes it to be smaller */
.portfolio-image img {
  border-radius: 50%;
  width: 60%;
  border: 2px solid white;
  /* Adds margin to top and bottom of the image */
  margin-top: 110px;
  margin-bottom: 30px;
}

.landing {
    background-color:#89A1AD;
    padding: 30px;
}

/* Sets font of all h1 to Chauncy pro*/
h1 {
    font-family: "chauncy-pro", sans-serif ;
}

/* Sets font of all p text */
p {
   font-family:'Times New Roman', Times, serif;
}

/* Sizes h1 of landing-text container, adds an underline and changes the color */
.landing-text h1 {
    font-size: 4rem;
    color: white;
    text-decoration: underline;
}

/* Sizes p of landing-text container and changes color */
.landing-text p {
    font-size: 1.2rem;
    color: white;
    padding-bottom: 10px;
}

/* Sizes .about-h1 h1, adds border radius and border */
.about-h1 {
    margin: 20px;
    padding: 30px;
    border: 2px solid gray;
    border-radius: 50px;
}

.about-h1 h1 {
    font-size: 3rem;
}

/* Adds background color to .about-text and changes font size */
.about-text {
    background-color: #89A1AD;
    font-size: 1.2rem;
    padding: 30px;
    margin: 20px;
}

/* Resizes goal-img to be smaller and adds a border radius */
.goal-img img {
    width: 100%;
    border-radius: 50px;
}

.goal-img {
    border-right: 2px solid gray;
}

/* Adds border to .goals around the container and inbetween */
.goals {
    border: 2px solid gray;
    column-rule: 2px solid gray;
}

/* Sets all h2 to Chauncy Pro font */
h2 {
    font-family: "chauncy-pro", sans-serif ;
}

/* Targets .goals-list unordered list items and changes font, size, padding and list styles */
.goals-list ul li {
    font-family:'Times New Roman', Times, serif;
}

/* Targets goal-img and adds padding around container with the image */
.goal-img {
    padding: 20px 20px;
}

/* Targets goal-list h2, sizes it to be bigger and adds padding */
.goal-list h2 {
    font-size: 4rem;
    padding-top: 30px;
    padding-bottom: 15px;
}

/* Targets goal-list unordered list, adjusts padding and list style types */ 
.goal-list ul li{
    padding: 10px;
    list-style-type: circle;
}

/* Targets works container and adds background color and adds padding */
.works {
    background-color: #89A1AD;
    padding: 20px;
}

/* Targets .works h1 and adds a border, border radius and padding */
.works h1 {
    border: 2px solid gray;
    border-radius: 60px;
    padding: 30px;
    font-size: 4rem;
}

/* Targets carousel buttons and adds a background color */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #89A1AD;
}

/* Targets thumbnail of videos in carousel and changes the opacity */
.carousel-inner  {
   opacity: 70%;
}

/* When hovering over carousel-inner container it resets back to normal opacity */
.carousel-inner:hover {
    opacity: 100%;
}